<div class="weaponf">  

  <p>
    <h2><%= link_to weapon.name, weapon_path(weapon) %></h2>
  </p>
  
  <p>
    <b>Damage:</b>
    <%= weapon.damage %>
  </p>
  <p>
    <b>Type:</b>
    <%= weapon.type.name %>
  </p>
  
  
  <p>
    <% if weapon.image.present? %>
      <p>
        <%= image_tag weapon.image %>
      </p>
    <% else %>
      <p class="no_image">
        <em>No weapon image.</em>
      </p>
    <% end %>
  </p>
  
</div>