<div id="container">
  <header>
    <h1>Welcome to the Cross Fire Black Market</h1>
    
    <h2>View Weapons by Type:</h2>
    <h3>
      <% @types.each do |t| %>
        <%= link_to t.name, type_path(t.id)%>
      <% end %>
    </h3>
  </header>
  
  <div class="content">
    <%= render :partial => 'front_end', :collection => @front_ends, :as => 'weapon' %>
  </div>
</div>