<div id="container">
  <h1>Welcome to the Cross Fire Black Market</h1>
  
  <div class="content">
    <%= render :partial => 'front_end', :collection => @front_ends, :as => 'weapon' %>
  </div>
</div>