// Place all the styles related to the FrontEnds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weaponf
{
    margin: 20px;
    background-color: #aaaaaa;
    float: left;
    
    box-shadow:rgba(0,0,0,0.5) 40px 40px 40px;
    border-radius: 15px;
}


body
{
    background-color: #888888;
}

h1
{
    text-shadow: 8px 8px 8px black;
}