// Place all the styles related to the FrontEnds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-colour: #888888;
$weapon-back-colour: #aaaaaa;

.weaponf
{
    margin: 20px;
    background-color: $weapon-back-colour;
    float: left;
    
    box-shadow:rgba(0,0,0,0.5) 40px 40px 40px;
    border-radius: 15px;
}


body
{
    background-color: $main-colour;
}

h1
{
    text-shadow: 8px 8px 8px black;
}

.show-weapon
{
    background-image: url('gray_jean.png');
    margin:
    {
        left: auto;
        right: auto;
    }
    box-shadow:rgba(0,0,0,0.5) 40px 40px 40px;
    border-radius: 15px;
    height: 500px;
    width: 80%;
}

#show-table
{
    border: solid 5px;
    border-collapse: collapse;
    padding: 10px;
    margin:
    {
        left: auto;
        right: auto;
    }
    td
    {
        text-align: center;
        color: white;
        border: solid 1px;
        padding: 10px;
        background-image: url('debut_dark.png');
    }
}

#show-image
{
    margin:
    {
        left: auto;
        right: auto;
    }
    text-align: center;
}

#weapon-name
{
    margin:
    {
        left: auto;
        right: auto;
    }
    padding-top: 15px;
    width: 80%;
    text-align: center;
    h1
    {
        font-size: 100px;
    }
}